<mat-sidenav-container
  class="layout"
  [hasBackdrop]="true"
  (backdropClick)="sidenav.close()"
>
  <mat-sidenav
    #sidenav
    mode="over"
    class="layout__sidenav"
    (backdropClick)="sidenav.close()"
  >
    <mat-nav-list class="layout__sidenav-list">
      <a routerLinkActive="active" routerLink="/categorias/adicionar"><button mat-button>Adicionar</button></a>
      <a routerLinkActive="active" routerLink="/categorias/lista"><button mat-button>Lista</button></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="navbar">
    <a routerLinkActive="active" routerLink="/"><span class="navbar__title">Gastos Pessoais</span></a>
    <span class="navbar__spacer"></span>

    <div class="navbar__menu">
      <a routerLinkActive="active" routerLink="/categorias/adicionar"><button mat-button>Adicionar</button></a>
      <a routerLinkActive="active" routerLink="/categorias/lista"><button mat-button>Lista</button></a>
    </div>

    <button
      mat-icon-button
      class="navbar__menu-toggle"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/bruno-cabral-05422884/"
    >
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </a>
  </mat-toolbar>
</mat-sidenav-container>
