<mat-card>
  <mat-card-content class="home">
    <h1 class="home__title">Desafio</h1>

    <h2 class="home__subtitle">Instruções</h2>
    <ol class="home__list">
      <li>Utilize o github ou afins para versionar seu projeto.</li>
      <li>
        Você tem até 7 dias corridos para concluir as atividades. (O Resultado
        deverá ser enviado após os 7 dias, independente do ponto do
        desenvolvimento);
        <ol type="a">
          <li>
            Priorize 1 o em sua zona de conhecimento, e progrida o máximo que
            puder. Caso não consiga concluir todas as atividades, por favor,
            entregue o que foi feito até a data solicitada.
          </li>
        </ol>
      </li>
      <li>
        Fique à vontade para utilizar tecnologias, frameworks e técnicas não
        citadas nas atividades.
      </li>
      <li>
        Recomendamos a utilização do docker (<a href="http://www.docker.com"
          >http://www.docker.com</a
        >) para montagem do ambiente por facilitar a nossa execução e validação,
        mas fique à vontade para usar outras coisas, como cloud publica por
        exemplo, contanto que nós consigamos executar e validar sua
        infra/código.
        <ol type="a">
          <li>
            Caso opte pela utilização do docker, publique os Dockerfiles no
            repositório do projeto ou deixe a imagem publicada no Dockerhub.
          </li>
        </ol>
      </li>
    </ol>

    <p>
      <strong>Obs.:</strong> Para todos os itens iremos considerar a
      documentação como parte da entrega.
    </p>

    <h2 class="home__subtitle">Case Lançamentos de Gastos Pessoais</h2>

    <ol class="home__list">
      <li>
        Crie interface de uma aplicação, para chamar as APIs descritas em
        <a href="https://github.com/adelbs/it-api-case"
          >https://github.com/adelbs/it-api-case</a
        >
        <ol type="a">
          <li>
            Montar telas com operações do CRUD:
            <ol type="i">
              <li>Create – Cadastro de Categoria</li>
              <li>Read – Leitura de Categorias e Lançamentos</li>
              <li>Update – Atualização de Categoria</li>
              <li>Delete – Apagar Categoria</li>
            </ol>
          </li>
          <li>Use Linguagem e Framework que desejar</li>
          <li>Colocar tratamento de erros nas telas</li>
          <li>Colocar consistências nos campos</li>
          <li>As telas precisam ser navegáveis entre si</li>
          <li>Montar bibliotecas comuns entre as telas</li>
          <li>Tela precisa ser responsiva</li>
        </ol>
      </li>
      <li>
        Utilize técnicas ou descreva formas de aplicar os temas qualidade e
        teste na sua aplicação (teste unitário, teste regressivo, teste
        integrado, teste de performance, teste de resiliência etc)
      </li>
      <li>
        Publique o projeto no Github e documentar em um README.md os itens
        abaixo:
        <ol type="a">
          <li>Documentação do projeto</li>
          <li>Documentação de arquitetura</li>
          <li>
            Documentação de como podemos subir uma cópia deste ambiente
            localmente
          </li>
        </ol>
      </li>
      <li>
        Itens avançados. Agora sua aplicação está em ambiente de Produção!
        Considere os itens abaixo na sua aplicação, ou apenas documente o que
        você faria para garantir cada tema:
        <ol type="a">
          <li>Escalabilidade</li>
          <li>Resiliência</li>
          <li>Alta disponibilidade</li>
          <li>Observabilidade – Monitoração e Log</li>
          <li>Segurança</li>
          <li>Acessibilidade</li>
          <li>Esteira CI/CD</li>
        </ol>
      </li>
    </ol>
  </mat-card-content>
</mat-card>
