<mat-card>
  <mat-card-title><h2 class="add__title">Adicionar Gasto</h2></mat-card-title>
  <mat-card-content>
    <div class="add__container">
      <mat-form-field>
        <input
          matInput
          placeholder="Item do Gasto"
          [(ngModel)]="categoryName"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="loadingService.loading$ | async"
        (click)="onAdd()"
      >
        Adicionar
      </button>
    </div>
  </mat-card-content>
</mat-card>
