<mat-card>
  <mat-card-title><h2 class="add__title">Adicionar Gasto</h2></mat-card-title>
  <mat-card-content>
    <form [formGroup]="categoryForm" class="add__container" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          placeholder="Item do Gasto"
          formControlName="name"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="(loadingService.loading$ | async) || !isSubmitAvailable"
      >
        Adicionar
      </button>
    </form>
  </mat-card-content>
</mat-card>